.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    /* primary */
    --tomato: hsl(4, 100%, 67%);
    /* neutral */
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /*400,700*/
    color: var(--dark-slate-grey);
    min-height: 100vh;
    background-color: var(--charcoal-grey);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .card {
    background-color: var(--white);
    width: 360px;
}


.wrapper .first .left {
    padding: 1.5rem 1.5rem;
}

.wrapper .first .image img {
    width: 360px;
}

h1,
h2 {
    font-size: 2.5rem;
}

.wrapper .first .paragraph {
    font-size: 16px;
    margin-top: 1rem;
}

.wrapper .first .circle-check {
    list-style-image: url(../images/icon-success.svg);
    margin: 1.5rem 1.5rem;
}

.wrapper .first li {
    padding-left: .50rem;
    font-size: 15px;
    list-style-type: none;
    margin-bottom: .50rem;
}

.wrapper .first label {
    font-weight: 700;
    font-size: small;
}

.wrapper .first .hide-valid {
    color: var(--tomato);
    font-weight: 700;
    font-size: small;
    /* float: right; */
    /* display: none; */
}

.wrapper .first form {
    width: 100%;
}
