.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


:root {
    /* primary */
    --tomato: hsl(4, 100%, 67%);
    /* neutral */
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    /* color intergration */
    /* hsl(348.42deg 100% 66.47%); */
    /* hsl(11.29deg 96.88% 62.35%); */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /*400,700*/
    color: var(--dark-slate-grey);
    min-height: 100vh;
    background-color: var(--charcoal-grey);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .card {
    background-color: var(--white);
    width: 375px;
}

/* -------------------------------------- */
/* first card beginning */
.wrapper .first .left {
    padding: 1.5rem 1.5rem;
}

.wrapper .first .image {
    background-image: url(../images/illustration-sign-up-mobile.svg);
    height: 284px;
    background-repeat: no-repeat;
    width: 375px;
}

h1,
h2 {
    font-size: 3rem;
}

.wrapper .first .paragraph {
    font-size: 16px;
    margin-top: 1rem;
}

.wrapper .first .circle-check {
    list-style-image: url(../images/icon-success.svg);
    margin: 1.5rem 1.5rem;
}

.wrapper .first li {
    padding-left: .50rem;
    font-size: 15px;
    list-style-type: none;
    margin-bottom: .50rem;
}

.wrapper .first label {
    font-weight: 700;
    font-size: small;
}

.wrapper .first .hide-valid {
    color: var(--tomato);
    font-weight: 700;
    font-size: small;
    float: right;
    display: none;
}

.wrapper .first input {
    width: 100%;
    padding: 1rem;
    margin: .50rem 0;
    border-radius: 7px;
    border: 1px solid var(--grey);
    color: var(--grey);
}

.wrapper .first button {
    width: 100%;
    padding: 1rem;
    border-radius: 7px;
    margin: .75rem 0 .50rem 0;
    border: none;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
}

.wrapper .first button:hover {
    background: linear-gradient(to right, hsl(348.42deg 100% 66.47%), hsl(11.29deg 96.88% 62.35%));
    box-shadow: 1px 5px 11px hsl(348.42deg 100% 66.47%);
}
/* first card ending */

/* -------------------------------------- */

/* second card beginning */
section.second.card.hidden {
    display: none;
}

.wrapper .second {
    border-radius: 0;
    height: 694px;
    padding: 3rem 2rem 0 2rem;

}

.wrapper .second .second-img {
    width: 55px;
    margin-bottom: 2rem;
}

.wrapper .second p {
    margin: 1.5rem 0;
}

.wrapper .second span {
    font-weight: 700;
}

.wrapper .second button {
    width: 100%;
    padding: 1rem;
    border-radius: 7px;
    margin-top: 7rem;
    border: none;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
}

.wrapper .second button:hover {
    background: linear-gradient(to right, hsl(348.42deg 100% 66.47%), hsl(11.29deg 96.88% 62.35%));
    box-shadow: 1px 5px 11px hsl(348.42deg 100% 66.47%);
}

/* second card ending */

@media screen and (min-width: 768px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* desktop first card beginning */
    .wrapper .card {
        display: flex;
        width: 848px;
        height: 624px;
        flex-direction: row-reverse;
        padding: 1rem;
        border-radius: 30px;
    }

    .wrapper .first .image {
        background-image: url(../images/illustration-sign-up-desktop.svg);
        width: 400px;
        height: 593px;
    }

    .wrapper .first .left {
        width: 416px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* desktop card ending */
    /* ------------------------------------------- */
    /* desktop second card beginning */
    .wrapper .hidden {
        display: none;
    }

    .wrapper .second {
        flex-direction: column;
        width: 450px;
        height: auto;
        padding: 2.5rem;
        border-radius: 25px;
    }
    /* desktop second card ending */

}

/* https://github.com/josh76543210/Frontend-Mentor---Newsletter-sign-up-form-with-success-message-solution/blob/main/assets/css/style.css */
/* https://github.com/Esesosa-max/frontend-mentors/blob/main/newsletter-sign-up-with-success-message-main/style.css */